

@import url(https://fonts.googleapis.com/css?family=Oswald:700);



/* Main Container */
.main_app{
    background: #78a5a3;
    padding: 0;
}



/* Header */
.header{
    background-image: url("../images/planning-poker-bkg.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    width: 1wv;
}

.gameName{    
    font-family: 'Oswald', sans-serif;
    text-shadow: 4px 2px rgb(2, 151, 81);
    width: 100%;
    padding: 10px;
    font-size: 5em;
    color:whitesmoke;
    text-align: center;
}

/* // controls */
.controls {
    margin: 20px 5px;
    text-align: center;    
}

.input-player{
    width: 310px;
    margin: 0 auto;
}


.controls_button {
    margin-top: 10px;
}


/* // btn */
.btn {
    background: #184b48;
    border: none;
    padding: 10px;
    color: whitesmoke;
    width: 100px;
    border-radius: 5px;
}

.btn:hover {
    background: teal;
}


/* // card */

.card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative; 
	font-family: 'Oswald', sans-serif;
	font-size: 6em;
	border: 1px #000 solid;
	border-radius: 10px;
	margin: 10px 10px;
	width: 150px;
	height: 250px;
	line-height: 220px;
	white-space: nowrap;
	text-align: center;
    transition: all 0.3s;
    overflow: hidden;
    cursor: pointer;
}

.card_inner {
    background: linear-gradient(to bottom right, #028056, #01c785, #00ffaa);
	border-radius: 10px;
    width: 90%;
    height: 90%;
    margin: 0 auto;
    vertical-align: middle;
    transition: all 0.6s;
}

.card_name {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 12px;
    line-height: 16px;
}


.card-selected {
    transform: translateY(-20px);
}

.card-unselected {
    transform: translateY(0);
}

.card-selected.card_inner {
    background: #78a5a3;
}

.card-user.card_inner {
    background: linear-gradient(to bottom right, #973999, #f8598b, #f7bf00)
}

.card-ready:before {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    width: 10px;
    height: 10px;
    background: green;
    border-radius: 50%;
}


/* // score
//////////// */

.score {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    white-space: nowrap;
    padding-top: 30px; 
    width: auto;
}

.players-waiting{
    text-align: center;
    padding: 10px;
}

/* // deck
//////////// */
.deck {
    text-align: center;
    overflow: auto;
    width: 100%;
}

.deck_inner{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    white-space: nowrap;
    padding-top: 30px; 
    width: auto;
}