
@import url(https://fonts.googleapis.com/css?family=Passion+One:400);
@import url(https://fonts.googleapis.com/css?family=Oswald:700);


html, body{
    font-size: 1em;
    max-width: 2024px;
    min-width: 450px;
}


/* Main Container */
.main_app, body{
    background-color: rgb(66, 66, 66);
    padding: 0;
}

h2, h3{
    color: whitesmoke;
}


/* Header */
.header{
    background: url("../images/planning-poker-bkg2.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    min-height: 35vw;
    padding: 0;
    margin: 0;
}

h1.gameName{  
    position: relative; 
    display: inline-block; 
    font-family: 'Passion One', cursive;
    text-shadow: 4px 2px  rgb(66, 66, 66);
    padding: 10px;
    top: 13vw; 
    left: 4.5em;
    font-size: 9vw;
    color:whitesmoke;
    text-align: center;
}

/* // controls */
.controls {
    margin: 20px 5px;
    text-align: center;    
}

.input-player{
    width: 310px;
    margin: 0 auto;
}


.controls_button {
    margin-top: 10px;
}

.steps_container{
    margin-top: 0;
    text-align: center;
}

.steps_container h3{
    font-size: 1.5vw;
}

/* Typewriter Effect */

.typewriter h4 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }

.who_is_playing{
    margin-left: 100%;
    color:whitesmoke;
    font-size: 1vw;
    font-style: italic;
    text-align: center;
}

/* ************************************ */


/* // btn */
.btn {
    background: #ff7878;
    border: none;
    padding: 8px;;
    color: white;
    width: 100px;
}

.btn:hover {
    background: #a73f3f;
}


/* // card */

.card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative; 
	font-family: 'Oswald', sans-serif;
	font-size: 6em;
	border: 1px #000 solid;
	border-radius: 10px;
	margin: 10px 10px;
	width: 150px;
	height: 250px;
	line-height: 220px;
	white-space: nowrap;
	text-align: center;
    transition: all 0.3s;
    overflow: hidden;
    cursor: pointer;
}

.card_inner {
    /* background: linear-gradient(to bottom right, #028056, #01c785, #00ffaa); */
    background: linear-gradient(to bottom right, #a74141, #ff7878, #f7bf00);
	border-radius: 10px;
    width: 90%;
    height: 90%;
    margin: 0 auto;
    vertical-align: middle;
    font-size: .8em;
    transition: all 0.6s;
}

.card_name {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 12px;
    line-height: 16px;
}


.card-selected {
    transform: translateY(-20px);
}

.card-unselected {
    transform: translateY(0);
}


.card-user.card_inner {
    background: linear-gradient(to bottom right, #973999, #f8598b, #f7bf00)
}

.card-ready:before {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    width: 10px;
    height: 10px;
    background: green;
    border-radius: 50%;
}


/* // score
//////////// */

.score {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    white-space: nowrap;
    padding-top: 30px; 
    width: auto;
}

.players-waiting{
    text-align: center;
    padding: 10px;
}

/* // deck
//////////// */
.deck {
    background: url("../images/cards-bkg.jpg");
    background-color: rgba(201, 76, 76, 0.3);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 15px;
    text-align: center;
    width: 100%;
}

.deck_inner{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    white-space: nowrap;
    padding-top: 30px; 
    width: auto;
}

@media only screen and (max-width: 2200px) {
    h1.gameName{  
        position: relative;  
        top: 21vw; 
    }
}


@media only screen and (max-width: 1600px) {    

    h1.gameName{  
        position: relative;  
        top: 19vw; 
    }

}


@media only screen and (max-width: 1000px) {
    .steps_container h3{
        font-size: 2.5vw;
    }

    .who_is_playing{
        font-size: 1.2vw;
    }
 

}

/* Mobile */
@media only screen and (max-width: 768px) {
   
    

    .steps_container h3{
        font-size: 3vw;
    }

    .who_is_playing{
        font-size: 1.5vw;
    }

    .btn {
        padding: 5px;
    }

    .app_score h3{
        font-size: 3vw;
    }

}